.objectSettings {
	width: calc(100vw - 30px);
	background: rgb(226, 246, 255);
	border-radius: 10px;
	box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
		rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.previewContainer {
	margin: var(--main-padding);
	padding: 20px;
	max-height: 200px;
	overflow: scroll;
	border-radius: 10px;
	background-image: url(/public/transparent.png);
	box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5),
		1px 1px 3px rgba(255, 255, 255, 1);
}

.preview {
	position: relative;
}

.settingsList {
	list-style: none;
	min-height: 250px;
	max-height: 400px;
	overflow-y: scroll;
	border-radius: 10px;
	margin: 0 var(--main-padding);
	background: white;
}

.settingItem {
	display: flex;
	align-items: center;
	height: 80px;
	margin-left: 20px;
}

.settingProperty {
	font-size: 18px;
}

.settingValue {
	margin-left: 20px;
}

.colorBtn {
	display: block;
	width: 30px;
	height: 30px;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px, rgba(0, 0, 0, 0.4) 0px 1px 2px;
	border-radius: 100px;
}

.hidden {
	display: none;
}
