.objectSettings {
	width: calc(100vw - 30px);
	background: white;
	border-radius: 10px;
	box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
		rgb(0 0 0 / 30%) 0px 3px 7px -3px;
	overflow: hidden;
}

.previewContainer {
	margin: var(--main-padding);
	padding: 20px;
	max-height: 200px;
	overflow: scroll;
	border-radius: 10px;
	background-image: url(/public/transparent.png);
	box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5),
		1px 1px 3px rgba(255, 255, 255, 1);
}

.preview {
	position: relative;
}

.settingsList {
	list-style: none;
	width: 100%;
	min-height: 250px;
	max-height: 400px;
	overflow-y: scroll;
	padding-right: 30px;
	background: white;
	box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 5px,
		inset rgba(0, 0, 0, 0.05) 0px -5px 5px;
	transition: box-shadow 0.5s ease-in-out 0s;
	border: 1px solid var(--border-color);
}

.settingsList--top {
	box-shadow: inset rgba(0, 0, 0, 0) 0px 5px 5px,
		inset rgba(0, 0, 0, 0.05) 0px -5px 5px;
}

.settingsList--bottom {
	box-shadow: inset rgba(0, 0, 0, 0.05) 0px 5px 5px,
		inset rgba(0, 0, 0, 0) 0px -5px 5px;
}

.controlFooter {
	padding: var(--main-padding);
	text-align: end;
}

.controlFooter button {
	color: white;
	font-size: 18px;
	padding: 5px 16px;
	margin-left: 16px;
	border: none;
	border-radius: 100px;
}

.controlFooter button:first-child {
	background: tomato;
}

.controlFooter button:last-child {
	background: green;
}
