.landing {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.openingText {
	flex-grow: 1;
}

.links {
	text-align: center;
	padding: 24px 0 48px;
}

.links,
.links a {
	font-size: 16px;
	color: white;
	text-shadow: 0px 0px 3px black;
}

.links a {
	text-decoration: none;
	padding: 5px;
}
