.landing {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.backgroundImage {
	transition: opacity 1s ease-in-out 0s, filter 5s ease-in-out 1s,
		transform 14s linear 1s;
	opacity: 0;
	filter: grayscale(1);
	transform: scale(1);
}

.backgroundImage--active {
	opacity: 1;
	filter: grayscale(0);
	transform: scale(1.1);
}

.openingText {
	flex-grow: 1;
}

.links {
	text-align: center;
	padding: 24px 0 48px;
}

.links,
.links a {
	font-size: 16px;
	color: white;
	text-shadow: 0px 0px 3px black;
}

.links a {
	text-decoration: none;
	padding: 5px;
}
