.letterURL {
	display: flex;
	align-items: center;
	background: #f6f8fa;
	border: 1px solid #d0d7de;
	border-radius: 5px;
	margin-bottom: 8px;
	overflow: hidden;
}

.letterURL input {
	flex-grow: 1;
	background: transparent;
	border: none;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation Mono, monospace;
	font-size: 12px;
	padding: 10px 14px;
	border-right: 1px solid #d0d7de;
	outline: none;
}

.copyBtn {
	padding: 8px 18px 8px 12px;
	height: 18px;
	box-sizing: content-box;
	border: none;
	background: transparent;
}

.copyBtn--highlight {
	background: #d6ffda;
}

.copyBtn i {
	font-size: 18px;
	width: 18px;
}

.copyBtn .check {
	color: #2da44e;
}
