.header {
	height: var(--header-height);
	background: #1c1c1c;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.drawingTools button,
.header button {
	border: none;
	border-radius: 100px;
	color: white;
	font-size: 18px;
	height: 100%;
	background: transparent;
}

.drawingTools button:active,
.header button:active {
	background: #515151;
}

.drawingTools button,
.header > button {
	width: var(--header-height);
	font-size: 24px;
}

.header .controls button {
	width: 80px;
}

.drawingTools {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.drawingTools {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}

.toolbox {
	display: flex;
	width: fit-content;
	position: absolute;
	z-index: 1;
	top: calc(100% + 30px);
	left: 50%;
	transform: translateX(calc(-50% - var(--header-height) / 2));
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.toolbox--eraser {
	transform: translateX(calc(-50% + var(--header-height) / 2));
}

.nose {
	width: 20px;
	height: 20px;
	background: white;
	position: absolute;
	top: 0;
	left: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 5px -5px 10px;

	transform-origin: center;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.colors {
	margin-left: 8px;
}

.row {
	display: flex;
	width: fit-content;
}

.container {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: #f2f2f2;
	box-shadow: inset 1px 1px 2px rgb(154 147 140 / 50%),
		1px 1px 2px rgb(255 255 255);
	position: relative;
	margin: 5px;
}

.container--long {
	width: 90px;
}

.border {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border: 1px solid #3776eb;
	border-radius: 100px;
}
