.draftItem {
	background: rgba(255, 255, 255, 0.88);
}

.timestamp {
	font-size: 14px;
	font-style: italic;
	color: #aaa;
	text-align: end;
}

.message {
	color: var(--text-grey);
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin-top: 5px;
}
