.inputBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
}

.textareaContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textarea {
	width: calc(85vw);
	max-height: 100vh;
	overflow-y: scroll;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	color: white;
	background: transparent;
	outline: none;
	border: none;
	resize: none;
}

.controls {
	background: transparent;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.controls button {
	font-size: 18px;
	color: white;
	padding: 8px 20px;
	border-radius: 100px;
	border: none;
}

.cancelBtn {
	background: tomato;
}

.confirmBtn {
	background: green;
}

.footer {
	height: var(--header-height);
	overflow: hidden;
}

.toolbox {
	background: #282828;
	width: 100%;
	padding-bottom: 30px;
	overflow-x: scroll;
	display: flex;
}

.toolbox .button {
	width: var(--header-height);
	height: var(--header-height);
	border-radius: 100px;
	margin: 0 calc(11vw - var(--header-height) / 2);
	border: none;
	font-size: 24px;
	flex-shrink: 0;
	text-align: center;
	line-height: var(--header-height);
	color: white;
	background: transparent;
}

.toolbox .button:active {
	background: #535353;
}

.toolbox input {
	display: none;
}
