.header {
	background: red;
	padding-right: var(--blank-width);
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.column {
	display: flex;
	align-items: center;
}

.openNavBtn {
	width: 55px;
	height: 55px;
	margin-left: 8px;
	border: none;
	background: none;
}

.openNavBtn i {
	color: var(--icon-grey);
	font-size: 22px;
}

.profileImage {
	width: 37px;
	height: 37px;
	border-radius: 100px;
	object-fit: cover;
}
