.titleBar {
	padding: var(--main-padding);
	padding-top: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: padding-bottom 0.2s ease-in-out 0.4s;
	position: relative;
}

.titleBar--pending {
	transition: padding-bottom 0.2s ease-in-out 0s;
	padding-bottom: calc(48px + 2 * var(--main-padding));
}

.title {
	color: white;
	font-size: 24px;
	text-shadow: 0px 1px 4px #23430c;
}

.refreshButton {
	border: none;
	background: transparent;
	font-size: 30px;
	line-height: 30px;
	color: white;
	text-shadow: 0px 1px 4px #23430c;
	padding: 0;
}

.titleBar--pending .refreshButton {
	animation: refreshButtonRotate var(--loading-spinner-rotate-period) ease 0s
		infinite;
}

@keyframes refreshButtonRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.moreLetters {
	position: absolute;
	left: 50%;
	bottom: var(--main-padding);
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.2s linear 0.2s;
}

.titleBar--pending .moreLetters {
	opacity: 1;
}

.loadingSpinner {
	font-size: 48px;
}
