.spinner {
	color: white;
	font-size: 28px;
	text-shadow: 0px 0px 5px black;
	animation: spin var(--loading-spinner-rotate-period) linear 0s infinite;
	transform-origin: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
