.main {
	height: calc(100vh - 2 * var(--header-height));
	background: #1c1c1c;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	pointer-events: none;
	position: absolute;
	z-index: var(--max-z-index);
}
