.indicators {
	display: flex;
	width: fit-content;
	margin: 20px auto 0;
	list-style: none;
}

.indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.indicators li:nth-child(n + 2) {
	margin-left: calc(0.75 * 10px);
}

.indicators li.active {
	background: rgba(255, 255, 255, 0.95);
}
